@tailwind base;
@tailwind components;
@tailwind utilities;

.react-datepicker {
  border-radius: 20px !important;
  border: 1px solid #e5dccb !important;
  font-family: inherit;
}

.react-datepicker__day--selected {
  background-color: #C6A96B !important;
  color: white !important;
}

.react-datepicker__day:hover {
  background-color: #C6A96B !important;
  color: white !important;
}